/*
 * event.component.css
 *
 * @author: Holly Hao
 * Revised: 11/22/2020 modify import
 *
 */

#event {
    margin-top: 190px;
}

#event .eventImage{
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 5em;
    margin-right: 5em;
}

#event .eventImage. .event .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#event .eventMiddle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#event .eventBottomHalf{
    text-align: left;
}