/*
header.component.css

1/2 modified by Holly Hao
Add a background color to the header-container

1/17 Modified by Jiayin Liu
Adjust z-index
*/

#logo{
    border-radius: 50%;
    position: absolute;
    background-color: white;
    display: block;
    top:10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70px;
    height: 70px;
    /* border: solid 1px red; */
    transition: 0.8s;
    z-index: 3;
}

#header-container{
    position: fixed;
    top: 0;
    left: 0;
    border:solid, 2px black;
    background-color: white;
    width: 100%;
    height: 200px;
    transition: 1s;
    z-index: 2;
}