<div id ="articleList">

    <div class = "articleHeader">
        <div class = "line1">
            <header>{{articleList.date}}</header>
        </div>
        <div class = "line2">
            <header>{{articleList.title}}</header>
        </div>
        <div class = "line3">
            <header>{{articleList.author}}</header>
        </div>
  
    </div>

    <div class = "articleText">
        <p>{{articleList.content}}</p>
    </div> 

    <div class = "articleImage">
        <img src={{articleList.image}} class="center" width="100px" height="100px">
    </div> 
     
    <div class = "articleImageTitle">
        <p>{{articleList.imageTitle}}</p>
    </div>

</div> 

