<!--
 * article.component.html
 *
 * @author: Jiayin Liu
 * Revised: 11/21/2020 
 * -->
<!--  <div class="container">

    <div [ngSwitch]='pageType'>
        <app-article *ngSwitchCase="'article'">{{article.image}}</app-article>
    </div>
      

</div> -->
<div id ="article">

    <div class = "articleHeader">
        <div class = "line1">
            <!-- <header>2020年11月22日</header> -->
            <header>{{article.date}}</header>
        </div>
        <div class = "line2">
            <header>{{article.title}}</header>
        </div>
        <div class = "line3">
            <header>{{article.author}}</header>
        </div>
  
    

    </div>

    <div class = "articleText">
        <p>{{article.content}}</p>

    </div>

    <div class = "articleImage">
        <img src={{article.image}} alt="Stickman" width="130" height="130">
    </div> 
    

</div>