*{
	margin: 0;
	padding: 0;
}

.wrapper{
	margin: 0 auto;
	width: 100%;
	text-align:center;
}

.homepageImg{
	margin-top: 198px;
	height:30%;
	width:90%;
	/*height: 628px;
	width: 1118px;
	display: block;*/
	margin-left: auto;
	margin-right: auto;
}

.text{
	margin-top: 2%;
	margin-bottom: 3%;
}