*{
	margin: 0;
	padding: 0;
}

.wrapper{
	margin: 0 auto;
	width: 100%;
	text-align:center;
}

.img_ucsc{
	position: absolute;
	margin-top: 30%;
	/*margin-top: 198px;*/
	height: 628px;
	width: 1118px;
	display: block;
	/*margin-left: auto;
	margin-right: auto;*/
}