<!-- 
    Modified by Jiayin Liu
    1/15/2021
 -->
<div id ="recentArticle">

    <div class = "articleHeader">
        <div class = "line1">
            <header>{{articles[0].posttime}}</header>
        </div>
        <div class = "line2">
            <header>{{articles[0].title}}</header>
        </div>
        <div class = "line3">
            <header>{{articles[0].author}}</header>
        </div>
  
    </div>

    <div class = "articleText">
        <p>{{articles[0].content}}</p>
    </div> 

    <div class = "articleImage">
        <img src={{articles[0].image}} class="center" width="100px" height="100px">
    </div> 
     
   

</div>