/*
header-nav.component.css

1/5 modified by Holly Hao
Add margin to headerNav

1/2 modified by Holly Hao
revised "加入" component

11.27 modifiy by Jiayin Liu
add login page
reference: w3schools
*/
ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
}


#headerNav{
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #003c6c;
  line-height: 80px;
  transition: 0.8s;
}

#headerNav .hl{
  width: 45%;
  position: absolute;
  right: 58%;
  margin-right: 50px;
}

#headerNav .hr{
  width: 45%;
  position: absolute;
  left: 56%;
  margin-left: 50px;
}

#headerNav li.active {
  background-color: #FFFFFF;
  width: auto;
  height: 70px;
  padding: 0px;
}

#headerNav li.active a {
  color: #003c6c;

}


#headerNav .hl li{
  float: right;
  padding-left: 50px;
  font-size: 18px;
  font-weight: 300;
  font-family:"Source Han Sans CN";
}

#headerNav .hr li{
  float: left;
  padding-right: 50px;
  font-size: 18px;
  font-weight: 300;
  font-family:"Source Han Sans CN";
}

#headerNav a{
  text-decoration: none;
  color:#ffffff;
}

#headerNav li .btn{
  width: 90px;
  height: 35px;
  display: inline-block;
  border-radius: 60px;
  vertical-align: middle;
  background:#ffffff;
  color: #003c6c;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
}

#headerNav button #join_btn{
position: absolute;
left: 15px;
top: -20px;
}

/* reference: w3schools */
/* start */
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}


/* Set a style for all buttons */
button {
background-color:#003c6c;
color:white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
font-size: 18px;
outline: none;
border-radius: 50%;
}

#btn_join{
position: absolute;
width: 60px;
top: 14px;
height: 30px;
background-color: white;
color: #003c6c;
border-radius: 15px;
text-align: center;
vertical-align: top;
}

button:hover {
opacity: 0.8;
}
