/*
header-nav.component.css

1/5 modified by Holly Hao
Add margin to headerNav

1/2 modified by Holly Hao
revised "加入" component

1/20 modified by Peter Cai
revised line height and activeUrl style

11.27 modifiy by Jiayin Liu
add login page

2.1 modifiy by Yiyun Zheng
add nav btn
*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#headerNav{
  position: relative;
  width: 100%;
  background-color: #003c6c;
  transition: 0.8s;
}

#headerNav .hl{
  width: 45%;
  position: absolute;
  right: 58%;
  margin-right: 50px;
}

#headerNav .hr{
  width: 45%;
  position: absolute;
  left: 56%;
  margin-left: 50px;
}


#headerNav .hl li{
  float: right;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-weight: 300;
  font-family:"Source Han Sans CN";
}

#headerNav .hr li{
  float: left;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 18px;
  font-weight: 300;
  font-family:"Source Han Sans CN";
}

#headerNav app-text{
  text-decoration: none;
  color:#ffffff;
}

/* #headerNav li .btn{
  width: 90px;
  height: 35px;
  display: inline-block;
  border-radius: 60px;
  vertical-align: middle;
  background:#ffffff;
  color: #003c6c;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
} */


/* reference: w3schools */
/* start */
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}


/* Set a style for all buttons */
/* button {
background-color:#003c6c;
color:white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
font-size: 18px;
outline: none;
border-radius: 50%;
} */

#btn_join{
right: 5%;
position: absolute;
top: 30%;
width: 85px;
height: 35px;
background-color: white;
color: #003c6c;
border-radius: 50px;
text-align: center;
line-height: 35px;
border: none;
outline: none;
cursor: pointer;
font-size: 18px;
}

#btn_user{
  right: 5%;
  position: absolute;
  top: 30%;
  width: 85px;
  height: 35px;
  background-color: white;
  color: #003c6c;
  border-radius: 50px;
  text-align: center;
  line-height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}

#xMark{
  width: 30px;
  height: 30px;
  background-color: #003c6c;
  color:white;
  text-align: center;
  line-height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  position: relative;
}

#headerNav #btn_join app-text{
  text-decoration: none;
  color:#003c6c;
}

#headerNav #btn_user app-text{
  text-decoration: none;
  color:#003c6c;
  font-size: 16px;
  position: relative;
  left: 10%;
}

#accounticon{
  height: 16px;
  position: relative;
  float: left;
  top: 27%;
}

#xMarkicon{
  height: 25px;
  position: relative;
  top: 20%;
}

button:hover {
opacity: 0.8;
}


#headerNav li.active {
  background-color: #FFFFFF;
  width: auto;
  height: 60px;
  padding: 0px;
}

#headerNav li.active app-text {
  color: #003c6c;
}



#headerNav li /deep/ app-text p{
margin: 0px;
}


/* userpage */
#usermenu{
  background-color: white;
  height: 60px;
  border-bottom: #003c6c solid 1px;
  display: block;
}

#usermenu /deep/ app-text p{
  margin: 0px;
  color: #003c6c;
  }

#usermenu .info{
  width: 25%;
  position: relative;
  float: right;
  right: 51%;
}

#usermenu .subinfo{
  position: absolute;
  top: 32px;
  left: 60px;
}

#usermenu .topinfo{
  position: absolute;
  top: 6px;
  left: 60px;
}

#usermenu .control{
  position: relative;
  top: 8px;
  float: left;
  left: 62%;
}

#usermenu .info li{
  font-family:"Source Han Sans CN";
  font-size: 20px;
  font-weight: 550;
  color: #003c6c;
  float: left;
  padding-left: 5px;
}

#usermenu .subinfo li{
  font-family:"Source Han Sans CN";
  font-size: 15px;
  font-weight: 520;
  color: #003c6c;
}

#accounticonring{
  height: 40px;
  position: relative;
  float: left;
  margin: 10px;
}

#usermenu .control li{
  font-family:"Source Han Sans CN";
  font-size: 18px;
  display: block;
  font-weight: 350;
  color: #003c6c;
  float: left;
  padding: 10px;
}

.nav-btn {
  left: 1%;
  color:white;
}
