<!--
    header-nav.component.html
    11.27 modifiy by Jiayin Liu
    add login page
    reference: w3schools
    12.11 modified by Peter Cai
    add PageType changing function
    1.3 modified by Peter Cai
    changed style
    1.26 modified by Peter Cai
    Delete PageType changing function
-->
<div id="headerNav">
    <button fxShow="true" fxHide.gt-md="true">Toggle drawer</button>
    <ul fxShow.gt-md="true" fxHide="true" class="hl">
        <li [class.active]="activeUrl === '/give'">
            <app-text [text]="langs['give']" (click)="navigation('/home')"></app-text>
        </li>
        <li  [class.active]="activeUrl === '/newscenter'">
            <app-text [text]="langs['newscenter']" (click)="navigation('/IDK')"></app-text>
        </li>
        <li  [class.active]="activeUrl === '/article'">
            <app-text [text]="langs['connect']" (click)="navigation('/article')"></app-text>
        </li>
        <li  [class.active]="activeUrl === '/event'">
            <app-text [text]="langs['community']" (click)="navigation('/event')"></app-text>
        </li>
    </ul>

    <ul fxShow.gt-md="true" fxHide="true" class="hr">
        <li [class.active]="activeUrl === '/merchandise'">
            <app-text [text]="langs['merchandise']" (click)="navigation('/IDK')"></app-text>
        </li>
        <li [class.active]="activeUrl === '/about'">
            <app-text [text]="langs['about']" (click)="navigation('/IDK')"></app-text>
        </li>
        <li [class.active]="activeUrl === '/membership'">
            <app-text [text]="langs['membership']" (click)="navigation('/IDK')"></app-text>
        </li>
    </ul>
    <ng-template #btnJoin>
        <button id="btn_join"  (click)="showLoginForm = true">
            <app-text id="join_btn" [text]="langs['join']" ></app-text>
        </button>
    </ng-template>  
    <button *ngIf="currentUser else btnJoin" id="btn_user" mat-button [matMenuTriggerFor]="menu"><app-text [text]="langs['user']" [language]="language"></app-text>
        <mat-menu #menu="matMenu">
            <button id="menu" mat-menu-item><app-text [text]="langs['myinfo']" ></app-text></button>
            <button id="menu" mat-menu-item (click)="logout()"><app-text [text]="langs['logout']" ></app-text></button>
        </mat-menu>
    </button>

    <app-loginpage *ngIf="showLoginForm" (close)="showLoginForm = false" (loginSuccess)="currentUser = $event"></app-loginpage>

</div>