/*
header-nav.component.css

1/5 modified by Holly Hao
Add margin to headerNav

1/2 modified by Holly Hao
revised "加入" component

1/20 modified by Peter Cai
revised line height and activeUrl style

11.27 modifiy by Jiayin Liu
add login page
reference: w3schools
*/
ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
}


#headerNav{
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #003c6c;
  line-height: 60px;
  transition: 0.8s;
}

#headerNav .hl{
  width: 45%;
  position: absolute;
  right: 58%;
  margin-right: 50px;
}

#headerNav .hr{
  width: 45%;
  position: absolute;
  left: 56%;
  margin-left: 50px;
}


#headerNav .hl li{
  float: right;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-weight: 300;
  font-family:"Source Han Sans CN";
}

#headerNav .hr li{
  float: left;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 18px;
  font-weight: 300;
  font-family:"Source Han Sans CN";
}

#headerNav a{
  text-decoration: none;
  color:#ffffff;
}

/* #headerNav li .btn{
  width: 90px;
  height: 35px;
  display: inline-block;
  border-radius: 60px;
  vertical-align: middle;
  background:#ffffff;
  color: #003c6c;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
} */


/* reference: w3schools */
/* start */
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}


/* Set a style for all buttons */
/* button {
background-color:#003c6c;
color:white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
font-size: 18px;
outline: none;
border-radius: 50%;
} */

#btn_join{
position: absolute;
width: 65px;
top: 30%;
height: 35px;
background-color: white;
color: #003c6c;
border-radius: 50px;
text-align: center;
line-height: 0px;
border: none;
outline: none;
cursor: pointer;
font-size: 18px;
display: block;
}

button:hover {
opacity: 0.8;
}


#headerNav li.active {
  background-color: #FFFFFF;
  width: auto;
  height: 70px;
  padding: 0px;
}

#headerNav li.active a {
  color: #003c6c;
}

#btn_user{
  position: absolute;
  width: 65px;
  top: 30%;
  height: 35px;
  background-color: white;
  color: #003c6c;
  border-radius: 50px;
  text-align: center;
  line-height: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  display: block;
}