<div id="Header-nav">
    <ul class="hl">
        <li>
            <a href="#">校友社区</a>
        </li>
        <li>
            <a href="#">校友联络</a>
        </li>
        <li>
            <a href="#">新闻中心</a>
        </li>
        <li>
            <a href="#">捐赠</a>
        </li>
    </ul>

    <ul class="hr">
        <li>
            <a href="#" class="btn">加入</a>
        </li>
        <li>
            <a href="#">会员</a>
        </li>
        <li>
            <a href="#">关于</a>
        </li>
        <li>
            <a href="#">商品</a>
        </li>
    </ul>
</div>
