<!--
    header-nav.component.html
    11.27 modifiy by Jiayin Liu
    add login page
    reference: w3schools
    12.11 modified by Peter Cai
    add PageType changing function
    1.3 modified by Peter Cai
    changed style
-->
<div id="headerNav">
    <ul class="hl">
        <li [class.active]="activeUrl === '/article'">
            <a href="/article">
                <app-text [text]="langs['give']" [language]="language"></app-text>
            </a>
        </li>
        <li [class.active]="activeUrl === '/newscenter'">
            <a href="/newscenter" >
                <app-text [text]="langs['newscenter']" [language]="language"></app-text>
            </a>
        </li>
        <li [class.active]="activeUrl === '/connect'">
            <a href="/connect" >
                <app-text [text]="langs['connect']" [language]="language"></app-text>
            </a>
        </li>
        <li [class.active]="activeUrl === '/community'">
            <a href="/community" >
                <app-text [text]="langs['community']" [language]="language"></app-text>
            </a>
        </li>
    </ul>

    <ul class="hr">
        <li [class.active]="activeUrl === '/merchandise'">
            <a href="/merchandise" >
                <app-text [text]="langs['merchandise']" [language]="language"></app-text>
            </a>
        </li>
        <li [class.active]="activeUrl === '/about'">
            <a href="/about" >
                <app-text [text]="langs['about']" [language]="language"></app-text>
            </a>
        </li>
        <li [class.active]="activeUrl === '/membership'">
            <a href="/membership" >
                <app-text [text]="langs['membership']" [language]="language"></app-text>
            </a>
        </li>
        <li>
                <button id="btn_join" onclick="document.getElementById('id01').style.display='block'"><app-text id="join_btn" [text]="langs['join']" [language]="language"></app-text></button>
        </li>

    </ul>

    <app-loginpage></app-loginpage>

</div>