<!-- By Jiayin Liu
     1/24/2021
     staff page 

    1/28/2021
    By Jiayin Liu
    Fix staff name
-->
<div class="title">
    <h2>CAA网页项目团队</h2>
</div>

<div class="body">
    <div class="position">

        <p class="a">主管</p>

        <p class="b">前端主管</p>
       
        <p class="c">后端主管</p>
    
        <p class="d">产品/UI</p>
      
        <p class="e">前端</p>
       
        <p>后端</p>

    </div>

    <div class="people">
        <p class="a">袁航</p>
  
        <p class="b">郑逸云</p>
 
        <p>刘盾</p>
        <p class="c">江治洲</p>
      
        <p>陈宇昊</p>
        <p class="d">胡焱爻</p>
        
        <p>郝莲</p>
        <p>刘嘉殷</p>
        <p class="e">蔡永茂</p>

        <p>董子豪</p>
        <p>侯家颖</p>
        <p class="f">杨博</p>
    </div>
</div>