<!-- By Jiayin Liu
     1/24/2021
     staff page 

    1/28/2021
    By Jiayin Liu
    Fix staff name
-->
<div class="title">
    <h2><app-text [text]="langs['a']" ></app-text></h2>
</div>

<div class="body">
    <div class="position">

        <p class="a"><app-text [text]="langs['b']" ></app-text></p>

        <p class="b"><app-text [text]="langs['c']" ></app-text></p>
       
        <p class="c"><app-text [text]="langs['d']" ></app-text></p>
    
        <p class="d"><app-text [text]="langs['e']" ></app-text></p>
      
        <p class="e"><app-text [text]="langs['f']" ></app-text></p>
       
        <p><app-text [text]="langs['g']" ></app-text></p>

    </div>

    <div class="people">
        <p class="a">袁航</p>
  
        <p class="b">郑逸云</p>
 
        <p>刘盾</p>
        <p class="c">江治洲</p>
      
        <p>陈宇昊</p>
        <p class="d">胡焱爻</p>
        
        <p>郝莲</p>
        <p>刘嘉殷</p>
        <p class="e">蔡永茂</p>

        <p>董子豪</p>
        <p>侯家颖</p>
        <p class="f">杨博</p>
    </div>
</div>