/* 
Modified by Jiayin Liu on 1/17/2021

Modified by Jiayin on 1/21/2021 fix button overlap

Modified by Jiayin on 1/28/2021 fix z-index and button switch language

Modified by Jiayin on 2/6/2021 fix button left margin

Modified by Jiayin on 2/28/2021 fix button style, change to toggle switch style
*/

@media screen and (max-width: 2000px){
    .oval {
        float: left;
        clear: none; 
        width: 200px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 40px;
        border: 2px #003c6c solid;
        margin: auto auto auto 10%;
    }

    .oval1 .gotoRecentButton{
        display: block;
        padding: 13px 25px 7px 25px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        width: 110px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 40px;
        border: none;
        color: #003C6C;
    }

    .oval2 .gotoListButton{
        display: block;
        padding: 13px 25px 7px 25px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        width: 110px;
        height: 60px;
        margin-left: 90px;
        margin-top: -60px;
        background: #FFFFFF;
        border-radius: 40px;
        border: none;
        color: #003C6C;
    }

    .oval2 .gotoListButton:focus{
        background-color: #003C6C;
        color: #FFFFFF;
        position: relative;
    } 

    .oval1 .gotoRecentButton:focus{
        background-color: #003C6C;
        color: #FFFFFF;
        position: relative;   
    } 
}


@media screen and (max-width: 420px){
    .oval {
        float: left;
        clear: none; 
        width: 140px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 40px;
        border: 2px #003c6c solid;
        margin: auto auto auto 10%;
    }

    .oval1 .gotoRecentButton{
        display: block;
        padding: 6px 10px 4px 10px;
        font-size: 3px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        width: 75px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 40px;
        border: none;
        color: #003C6C;
    }

    .oval2 .gotoListButton{
        display: block;
        padding: 6px 10px 4px 10px;
        font-size: 3px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        width: 75px;
        height: 40px;
        margin-left: 65px;
        margin-top: -40px;
        background: #FFFFFF;
        border-radius: 40px;
        border: none;
        color: #003C6C;
    }

    .oval2 .gotoListButton:focus{
        background-color: #003C6C;
        color: #FFFFFF;
        position: relative;
    } 

    .oval1 .gotoRecentButton:focus{
        background-color: #003C6C;
        color: #FFFFFF;
        position: relative;   
    } 
}