/* 
Modified by Jiayin Liu on 1/17/2021

Modified by Jiayin on 1/21/2021 fix button overlap

Modified by Jiayin on 1/28/2021 fix z-index and button switch language

Modified by Jiayin on 2/6/2021 fix button left margin
*/

.aParent div {
    float: left;
    clear: none;  
}



div.button1{
    margin: auto auto auto 10%;
}

.button1 .gotoRecentButton:focus{
    background-color: #003C6C;
    color: #FFFFFF;
    position: relative;
    z-index: 1.5;
}

.button1 .gotoRecentButton{
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #003C6C;
    background-color: #FFFFFF;
    border-color: #003C6C;
    border-radius: 50px;
}


div.button2{
    margin-left: -25px;
}



.button2 .gotoListButton:focus{
    background-color: #003C6C;
    color: #FFFFFF;
    position: relative;
    z-index: 1.5;
}

.button2 .gotoListButton{
    display: block;
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #003C6C;
    background-color: #FFFFFF;
    border-color: #003C6C;
    border-radius: 50px;  
}


