<!-- 
  * article-list.component.html
  * Modified by Jiayin Liu on 1/17/2021
  * Two Buttons
  *
  * Modified by Jiayin Liu on 2/28/2021
-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class = "oval">
    <div class= "oval1">
        <button class="gotoRecentButton" (click)="gotoRecent()"><app-text [text]="langs['a']" ></app-text></button>
    </div> 

    <div class= "oval2">
        <button class="gotoListButton" (click)="gotoList()"><app-text [text]="langs['b']" ></app-text></button>
    </div> 
</div>

<router-outlet></router-outlet> 