<div class="container">

    <!-- Header -->
  <app-header [language]='language' (setLang)="setLanguage($event)" (setPage)="setPagetype($event)"></app-header>


  <!-- <nav> -->
    <!-- Nav Bar -->
  <!-- </nav> -->
    <div [ngSwitch]='pageType'>
      <app-article *ngSwitchCase="'article'"></app-article>
      <app-event *ngSwitchCase="'event'"></app-event>
      <app-main *ngSwitchDefault></app-main>
    </div>


  <!-- <aside> -->
    <!-- Sidebar -->
  <!-- </aside> -->

  <app-footer [language]='language' (setLang)="setLanguage($event)"></app-footer>
</div>