<div class="container">

    <!-- Header -->
  <app-header></app-header>


  <!-- <nav> -->
    <!-- Nav Bar -->
  <!-- </nav> -->
  <router-outlet></router-outlet>
    <!-- <div [ngSwitch]='pageType'>
      <app-article *ngSwitchCase="'article'"></app-article>
      <app-event *ngSwitchCase="'event'"></app-event>
      <app-main *ngSwitchDefault></app-main>
    </div> -->

    <app-sidebar-draw></app-sidebar-draw>

  


  <!-- <aside> -->
    <!-- Sidebar -->
  <!-- </aside> -->

  <app-footer></app-footer>
</div>
