<div class="container">

    <!-- Header -->
  <app-header></app-header>


  <!-- <nav> -->
    <!-- Nav Bar -->
  <!-- </nav> -->
  <div *ngIf="openNav; else router">
    <app-navigater></app-navigater>
  </div>
  <ng-template #router>
    <router-outlet></router-outlet>
  </ng-template>
  
    <!-- <div [ngSwitch]='pageType'>
      <app-article *ngSwitchCase="'article'"></app-article>
      <app-event *ngSwitchCase="'event'"></app-event>
      <app-main *ngSwitchDefault></app-main>
    </div> -->


  


  <!-- <aside> -->
    <!-- Sidebar -->
  <!-- </aside> -->

  <app-footer></app-footer>
</div>
