<!--  
 * footer.compoments.html
 * Revised by Jiayin Liu on 12/10/2020.
 * Changing language
 -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">

<div id = "footerNav">

<div class = "footer">

    <div class = "footerContent">
            <ul>
            <a href="#"><app-text [text]="langs['a']" ></app-text></a>
            <a href="#"><app-text [text]="langs['b']" ></app-text></a>
            <a href="#"><app-text [text]="langs['c']" ></app-text></a>
            <a href="#"><app-text [text]="langs['d']" ></app-text></a>
            <a href="#"><app-text [text]="langs['e']" ></app-text></a>
            <a href="#"><app-text [text]="langs['f']" ></app-text></a>
            </ul>
    </div>

    <div class="footerBottom">
       <!--  &copy; 2020 UCSC Chinese Alumni Association. 保留所有权利 -->
       <!-- <app-text [text]="langs['copyright']" ></app-text> -->
       &copy;<app-text [text]="langs['copyright']" ></app-text>
        <br><app-text [text]="langs['declare']" ></app-text>
        
    </div>
    
</div>
</div>