.footer{
  background-color: #003c6c;
  color: #FFFFFF;
  font-family: "Noto Sans SC";
  font-weight: 100;
  font-size: 10pt;
  position: relative;
  width: 100%;
  bottom: 0px;
}

.footer .footer-content{
  display: flex;
  overflow: hidden;
}

/* center the unordered list */
.footer .footer-content ul{
  margin: auto;
}

.footer .footer-content ul a{
  float: left;
  display: block;
  color: #f5f1f1;
  text-align: center;
  padding: 11px;
  text-decoration: none;
  list-style-type: none;
}

.footer .footer-content ul a:hover {
text-decoration: underline;
}

.footer .footer-bottom{
  text-align: right;
  margin-right: 60px;
  line-height: 40px;
}