<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">

<div id = "footerNav">

<div class = "footer">

    <div class = "footerContent">
            <ul>
            <a href="#"><li>关于</li></a>
            <a href="#"><li>CAA管理层</li></a>
            <a href="#"><li>新闻中心</li></a>
            <a href="#"><li>隐私政策</li></a>
            <a href="#"><li>使用条款</li></a>
            </ul>
    </div>

    <div class="footerBottom">
        &copy; 2020 UCSC Chinese Alumni Association. 保留所有权利
        <br>加州大学圣克鲁兹分校学生会是一个依赖学生、校友、大学捐赠的非营利性组织
        
    </div>
    
</div>
</div>