<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class = "footer">

    <div class = "footer-content">

        <div class="footer-image">
            <img [src] = "picUrl" style="float:left;width:130px;height:130px;">

        </div>


        <div class="footer-links">
            <ul>
            <a href="#"><li>About</li></a>
            <a href="#"><li>Leadership</li></a>
            <a href="#"><li>Our Mission</li></a>
            <a href="#"><li>Newscenter</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Term of Use</li></a>
            </ul>
        </div>

        <div class="footer-contact">
            <div class="contact-title">
                <p>Follow us on:</p>
            </div>

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <p>Contact us via:</p>
            <a href="#"><i class="fa fa-facebook"></i></a>


        </div>

        <div class="footer-special">
  
                <p>Special thanks to:</p>
                <p>UC SANTA CRUZ</p>
        </div>



    </div>


    <div class="footer-bottom">
        &copy; 2020 UCSC Chinese Alumni Association. All Rights Reserved.
        <p>
            UCSC CAA is a self-funded nonprofit organization that relies on donations to provide programs and services that support students, alumni and the University.
        </p>
    </div>

</div>