/*
* header-top.component.css
*
* 1/5 modified by Holly Hao
* Adjust the height of the headerTop and headerNav
* Add margin to the headerTop and headerNav

* 1/2 modified by Holly Hao
* Put the hl to the middle place and adjust the place
*
* author: Yiyun Zheng
* Date Revised: 2021/1/24
* Change header style
*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#headerTop{
    /*top: 0;
    left: 0;
    text-align: center;*/
    width: 100%;
    /*height: 20%;
    line-height: 18%;*/
    height: 35px;
    line-height: 5px;
    margin-top: 1%;
    background-color: #ffffff;
    color: #003c6c;
    font-family:"Source Han Sans CN";
    font-weight: normal;
    transition: 0.8s;
}

#headerTop .hl{
    width: 45%;
    right: 65%;
    display: flex;
    justify-content: center;
}

#headerTop .hr{
    width: 60%;
    left: 67%;
    top: 7%;
    position: absolute;
}

/*#headerTop .hl li{
    float: right;
    font-size: 12pt;
    padding: 0 5%;
    font-weight: 350;
}

#headerTop .hl li a /deep/ app-text p{
    justify-content: center;
    margin-bottom: 5%;
} */


#headerTop .hl li{
    /*border: 5px solid red;*/
    float: right;
    font-size: 12pt;
    padding: 0 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 350;
}

#headerTop .hl li a /deep/ app-text p{
    /*border: 5px solid yellow;*/
    margin-top: 1%;
}

#headerTop .hr li{
    float: left;
    font-size: 12pt;
    padding: 0 1%;
    margin-top: 2%;
    font-weight: 350;
}

#headerTop app-text{
    text-decoration: none;
    color: #003c6c;
}