<!--
    header-top.component.html
    12.11 modified by Peter Cai
    add PageType changing function
-->

<div id="headerTop">
    <ul class="hl">
        <li>
            <app-text [text]="langs['immigration']" (click)="navigation('/home')"></app-text>
        </li>
        <li>
            <app-text [text]="langs['career']" (click)="navigation('/home')"></app-text>
        </li>
        <li>
            <app-text [text]="langs['getinvolved']" (click)="navigation('/home')"></app-text>
        </li>
    </ul>
    <ul class="hr">
        <li>
            <a (click)='setLanguage("EN")'>English</a>
        </li>
        <li><span>|</span></li>
        <li>
            <a (click)='setLanguage("CN")'>简体中文</a>
        </li>
      </ul>
</div>
