

<div class="mainNav">
    <div class="immigration">
        <app-text [text]="navList['immigration']" (click)="navigation('/home')"></app-text>
    </div>
    <div class="career">
        <app-text [text]="navList['career']" (click)="navigation('/home')"></app-text>
    </div>
    <div class="getinvolved">
        <app-text [text]="navList['getinvolved']" (click)="navigation('/home')"></app-text>
    </div>
    




    <ul class="headerNav">
        <li >
            <app-text [text]="navList['give']" (click)="navigation('/home')"></app-text>
        </li>
        <li >
            <app-text [text]="navList['newscenter']" (click)="navigation('/IDK')"></app-text>
        </li>
        <li >
            <app-text [text]="navList['connect']" (click)="navigation('/article')"></app-text>
        </li>
        <li >
            <app-text [text]="navList['community']" (click)="navigation('/event')"></app-text>
        </li>

        <li >
            <app-text [text]="navList['merchandise']" (click)="navigation('/IDK')"></app-text>
        </li>
        <li >
            <app-text [text]="navList['about']" (click)="navigation('/IDK')"></app-text>
        </li>
        <li >
            <app-text [text]="navList['membership']" (click)="navigation('/IDK')"></app-text>
        </li>
    </ul>
</div>

