/* list.component.css
 *
 * @author: Jiayin Liu
 * Created: 1/6/2021 
 * Add css style
 * 
 * Revised: 1/11/2020
 * Modify style
 */

 .card {
        width: 100%;
        color:#003c6c;
        text-align: center;
        list-style-type: none;
        margin-top: 190px;
        font-size: 16px;
        border-radius: 4px;

}
      
  
