<!--
 * list.component.html
 *
 * @author: Jiayin Liu
 * Created: 1/6/2021 
 *
 * Modified 1/11/2021
 * show "change page" when has more than 15 objects
-->


 <ul class="content">
    <li *ngFor="let article of articles">
      <div class="img">
        <img [src]="article.img" alt=""  style="width:150px"/>
      </div>
      <div class="text">
        <p class="title">{{ article.title }}</p>
        <p class="time">{{ article.posttime }}</p>
      </div>
    </li>
   <!-- show "change page!" when the list has more than 15 objects -->
    <div *ngIf="articles?.length > 15">change page!</div>
  </ul>
